body {
  font-family: "Roboto", "微軟正黑體";
  background-color: #000000;
  width: 1500px;
  height: 100%;
}

// h1 {
//    margin-top: 5px;
//    margin-bottom: 5px;
// }
.top {
  text-align: center;
  font-size: 26px; // margin-top: 70px;
  >.img {
    position: absolute;
    left: 180px;
    top: 0px;
  }
  >.title {
    user-select: none;
    color: #FFFFFF;
    text-shadow: 2px 2px 15px #0093FF;
    position: relative;
    display: inline-block;
    left: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

#mid {
  position: relative; // margin-top: 50px;
  >.btn {
    position: absolute; // display: block;
    width: 104px;
    height: 104px;
    background: rgba(0, 147, 255, 0.35);
    border: 12px solid rgba(92, 92, 92, 0.62);
    box-shadow: 0 3px 6px rgba(0, 147, 255, 0.44);
    border-radius: 40px; // margin: 1em;
    &:after {
      content: attr(dataBefore);
      display: block;
      position: absolute;
      font-size: 18px;
      color: white;
      bottom: -50px;
      left: 0;
      letter-spacing: 1.5px;
      text-shadow: 2px 2px 15px #0093FF;
    }
    >img {
      position: absolute; // left: 50%;
      // top: 50%;
      transform: translate(-50%, -50%);
      &:hover {
        transform: translate(-50%, -50%) scale(1.2);
      }
      transition: transform 0.3s cubic-bezier(0.64, 2.46, 0.63, 0.52);
    }
  }
}

.bottom {
  position: relative;
  margin-top: 700px;
  margin-left: 200px;
  >.bor {
    //外框
    width: 900px;
    height: 300px;
    border-width: 15px;
    border-style: solid;
    background-color: #FFFFFF;
    border: 10px solid #3979D5;
    position: absolute;
    border-radius: 50px;
    top: 15%;
    left: 130px;
    z-index: -1;
    >p {
      position: absolute;
      color: red;
      left: 180px;
      top: 30px;
      font-size: 24px;
      padding: 20px 20px;
      box-sizing: border-box;
    }
    >y {
      position: absolute;
      color: red;
      left: 180px;
      font-size: 30px;
      top: 10px;
      font-weight: 900;
    }
  }
}